.Manipulation {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 617px;
}

.RegistrationBody {
  border: 2px solid #dadce0;
  border-radius: 11px;
  width: 514px;
  height: 566px;
  align-items: center;
  display: flex;
  //flex-direction: row;
  justify-content: center;
}

.jhdf {
  //border: 1px solid #dadce0;
  border-radius: 11px;
  width: 481px;
  height: 538px;
}

.hfgt {
  //border: 1px solid #dadce0;
  //border-radius: 11px;
  width: 481px;
  height: 492px;
  
}

.FontSerif
{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: rgb(81, 94, 129);
}

.text
{
    height: 5px;
    width: 20px;
}

