.displayNoteParent{
    // border: rgb(151, 148, 148) solid;
    // border-radius: 11px;
    width: 81%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin-left: 13%;
    margin-top: 35px;
}

.cardiv{
    width: 250px;
    display: flex;
    flex-direction: column;
    border: whitesmoke solid;
    //background-color: #e9e5e5;
    border-radius: 11px;
    padding: 20px;
    margin: 2%;
    height: fit-content;
    box-shadow: 0px 2px 6px 1px rgb(185, 180, 173);
}

.titleDiv{
    text-align: left;
    font-weight: bold;
}

.descriptiondiv{
    text-align: left;
    font-size: 13px;
}

.deleteIcon{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
   
}