.navbar {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  width: 100%;
}

.searchbar {
  border-radius: 21px;
  width: 43%;
  background-color: rgb(233, 229, 229);
  height: 30px;
  margin-left: -25%;
}

.searchbar:hover {
  background-color: white;
  border: 1px solid silver;
}

.drawer {
  margin-top: 85px !important;
}

.drawerElementsNote {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
}

.RemainingdrawerElements {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
}


