.navbar {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  width: 100%;
}

.searchbar {
  border-radius: 21px;
  width: 43%;
  background-color: rgb(233, 229, 229);
  height: 30px;
  margin-left: -25%;
}

// .searchbar:hover {
//   background-color: white;
//   border: 1px solid silver;
// }

.logout{
  height: 155px;
  width: 298px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logoutinner{
  height: 110px;
  width: 300px;
}

.buttonMargin{
  margin-left: 67%;
  background-color: rgb(235, 238, 241);
}

.drawer {
  // margin-top: 114px;
}

.drawerElementsNote {
  //margin-top: 50px;
  margin-left: 32px;
  display: flex;
  flex-direction: row;
}

.RemainingdrawerElements {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
}

.displayNote{
  display: flex;
}

